<!DOCTYPE html>

<html>
    <head>
        <title>Add a Blog Entry</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/main">all posts</a></li>
                <li><a href="/blog/newpost">new post</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>